{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    About Us
{% endblock %}

{% block content %}
<section class="about-form-section about-form-section--image overlay">
 <div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="about-form-box">
              <div class="container mt-5 mb-5">
                <h2 class="heading">ABOUT US</h2>
                <h5><a>We are here to provide you with easier and faster way to look for a job and apply it at convenience of your home.You can easily connect with your dream job and company.We also provide you vast number of companies which you can explore easily from anywhere.</a></h5>
              </div>
            </div>
       </div>
    </div>
 </div>

</section>
{% endblock %}